@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	color: white;
}

body {
	font-family: 'Saans TRIAL';
	background: #000;
}
.app-content {
	min-height: 100dvh;
	width: 100dvw;
	display: grid;
	grid-template-rows: auto 1fr;
}

.page-content {
	display: grid;
	place-content: center;
	h1 {
		font-size: 2rem;
		font-weight: 400;
		sup {
			font-size: 1rem;
		}
	}
}
